@using NewImmigration.Areas.Admin.Models
@model IEnumerable < NewImmigration.Areas.Admin.Models.College>
@{
    ViewBag.Title = "AllCountries";
    Layout = "~/Areas/Admin/Views/Shared/LayoutPage.cshtml";
    dbcontext db = new dbcontext();
}
@section Pagename {

    AllCountries
}


@using (Html.BeginForm("AllCountries", "Default", FormMethod.Post, new { name = "country", @Class = "col-md-12" }))
{
    <div class="form-horizontal">
        <div class="col-md-3">
            <div class="form-group">
                <label>Country</label>
                <select id="session" name="country" class="form-control">
                    <option>Select Country</option>
                    @foreach (var ab in db.Countries)
                    {
                        <option value="@ab.Countryid">@ab.CountryName</option>
                    }
                </select>
            </div>
            <input type="submit" value="Submit" class="btn btn-danger" style="margin-top:10px" />
        </div>
        </div>
        }

@using (Html.BeginForm("AllCountries", "Default", FormMethod.Post, new { name = "myform" }))
{
    @*@Html.AntiForgeryToken()*@
   
        <div class="table-responsive">
            <h3 style="margin-left:230px;">
               Colleges
            </h3>
            <table class="table table-striped table-bordered table-hover" style="margin-top:40px">
                <thead>
                    <tr>
                        <td>  Sr No.</td>

                        <td>College Name</td>

                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*<input id="Checkbox1" type="checkbox" name="departments2" value="@item.CollegeId" checked="checked" />*@
                            @Html.DisplayFor(modelItem => item.CollegeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CollegeName)
                        </td>
                    </tr>
                }
            </table>
        </div>
}

@*@Html.ActionLink("Index", "Default", new { @class = "label label-info" })*@
        @*<script type="text/javascript">

    function onchange()
    {
        //Form post
        document.country.submit();
      //  respond("Index", "Default");
          
       // var Countryid = document.name;

    }
        </script>*@  