@model NewImmigration.Areas.Admin.Models.Campus

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LayoutPage.cshtml";
}
@section Pagename {

    Campus
}

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.College.CollegeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.College.CollegeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CampusId }) |
     @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
</p>
