@model NewImmigration.Areas.Admin.Models.College

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>College</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollegeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollegeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CollegeId }) |
     @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
</p>
